<!DOCTYPE html>
<html>
    <head>
        <title>Event Registration Form</title>
    </head>
    <body>
        <center>
            <form action='\submit' methods='post'>
                Enter username:<input type="text"><br><br>
                Enter Rollno:<input type="text" ><br><br>
                Enter mailid:<input type="email"><br><br>
                Academic year:
                <select id="year" name="year">
                    <option value="1">I</option>
                     <option value="2">II</option>
                      <option value="3">III</option>
                       <option value="4">IV</option>
                </select> <br><br>
                <input type="submit">               

            </form>
        </center>
    </body>
</html>